@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #CB7928;
  --secondary: #f3c244;
  --accent: #de3e3e;
  --white: #fff;
  --black: #000;
  --neitral-light: #f8f7f6;
}

:root {
  --first-font-family: "Jost", sans-serif;
  --second-font-family: "Inter", sans-serif;
}

:root {
  --grid-width: 1110px;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--second-font-family);
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--first-font-family);
  font-weight: 600;
  line-height: 120%;
}

h1 {
  font-size: 48px;
  color: var(--primary);
}

h2 {
  font-size: 40px;
  color: var(--primary);
}

h3 {
  font-size: 32px;
  color: var(--white);
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

img {
  max-width: 100%;
}

p {
  font-size: 16px;
  line-height: 150%;
  padding: 16px 0;
}

a {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
}

ul.menu {
  list-style-type: none;
}

p {
  font-size: 16px;
  line-height: 150%;
  padding: 16px 0;
}

.description {
  color: var(--neitral-light);
  font-weight: 400;
  font-size: 20px;
  max-width: 480px;
  line-height: 150%;
}

#hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: var(--grid-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
}

ul.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: 42px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  gap: 8px;
}

.logo img {
  height: 40px;
  width: 40px;
}

.button {
  border: solid var(--accent) 2px;
  padding: 4px 12px;
  border-radius: 4px;
}

#hero {
  display: flex;
  flex-direction: column;
  /* height: 684px; */
  padding: 80px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(./images/hero-dog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* width: var(--grid-width);
    background-image: url(./images/friendly-smart-basenji-dog-giving-his-paw-close-up-isolated-white\ 1.png);
    background-repeat: no-repeat;
    background-position: 100% 60px;
    background-size: 500px 672px; */
}

header {
  width: var(--grid-width);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 32px;
}

header .button,
form .button, .card .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--white);
  background: var(--accent);
}

header .button {
  padding: 10px 16px;
  width: 240px;
  height: 60px;
  gap: 12px;
  font-family: var(--first-font-family);
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

header .button .logo-img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-image: url(./images/logo.png);
  background-size: contain;
  background-position-y: 4px;
}

header .button:hover, .card .button:hover, form .button:hover  {
  color: var(--accent);
  background: var(--white);
  transition: all 0.5s;
}

nav .button:hover {
  color: var(--white);
  background: var(--accent);
  transition: all 0.5s;
}

#hero-section,
#about,
#dogs,
#testimonials,
#help,
#contacts,
#main,
.footer-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dogs,
#testimonials,
#help,
#contacts,
.contact-frame,
.footer-frame {
  width: var(--grid-width);
  row-gap: 24px;
}

#dogs,
#testimonials {
  width: 100vw;
  background-color: var(--secondary);
  padding-top: 40px;
  padding-bottom: 40px;
}

#help > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about {
  display: flex;
  flex-direction: row;
  width: var(--grid-width);
}

#menu_toggle {
  display: none;
}

.col-3 {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.col-4 {
  width: 34%;
  /* width: 406px; */
  padding-right: 30px;
}

.col-5 {
  width: 40%;
  padding-right: 30px;
}

.col-6 {
  width: 50%;
  padding-right: 30px;
}

.col-7 {
  width: 60%;
  padding-right: 30px;
}

.col-8 {
  width: 66%;
}

.col-12 {
  width: 100%;
}

#dogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.cards {
  width: var(--grid-width);
  display: grid;
  flex-direction: column;
  gap: 30px;
  flex-flow: row wrap;
}

.card-row {
  display: flex;
  gap: 30px;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 350px;
  max-width: 100%;
  min-height: 440px;
  align-items: center;
  border: 2px solid var(--primary);
  background-color: var(--white);
  border-radius: 4px;
  padding-bottom: 20px;
  background-color: var(--white);
  border-radius: 4px;
  /* box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.1), 7px 7px 20px rgba(0, 0, 0, 0.1); */
}

.card img {
  height: 236px;
}

.card-info {
  width: 246px;
  min-height: 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.card-info h3 {
  color: var(--primary);
}

.card-info .card-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-info p {
  line-height: 120%;
  padding: 0;
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  color: var(--black);
  padding: 40px;
}

.testimonial img {
  height: 236px;
  width: 236px;
  clip-path: circle();
  object-fit: cover;
  text-align: center;
}

.testimonial h3 {
  text-align: center;
  color: var(--primary);
}

.testimonial .card {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  justify-content: center;
}

.circle {
  padding: 10px;
  display: flex;
  justify-content: center;
}

#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--grid-width);
  row-gap: 72px;
}

.contact-frame {
  display: flex;
}

.contact-frame .col-5 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 104px;
}
.contact-frame .contact-logo-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-frame form {
  display: flex;
  flex-direction: column;
}

.contact-frame .contact-logo-text ul {
  list-style-type: none;
  width: 255px;
  font-size: 16px;
  line-height: 150%;
}

.contact-frame ul li {
  line-height: 220%;
}

input,
textarea {
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  border: 2px solid var(--primary);
  background-color: var(--white);
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
  margin-top: 32px;
  width: 260px;
  height: 40px;
}

textarea {
  height: 200px;
  width: 538px;
  max-width: 100%;
  resize: none;
  padding: 20px;
}

form .button {
  height: 55px;
  width: 220px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);
  position: relative;
}

.footer-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 78px;
  padding-bottom: 64px;
  margin-bottom: 0;
}

.footer-frame ul {
  list-style-type: none;
  padding-top: 8px;
}

.footer-frame ul.social-icons {
  margin-top: 40px;
}

.footer-frame ul a {
  color: var(--white);
}

.social-icons {
  display: flex;
  gap: 36px;
  height: 160px;
  align-items: flex-end;
}

#up {
  position: absolute;
  top: 20px;
  left: 49%;
}

@media screen and (max-width: 1110px) {
  :root {
    --grid-width: 100%;
  }
  header,
  #hero-section,
  #hero,
  nav,
  #about,
  #dogs,
  #testimonials,
  #help,
  #contacts,
  .footer-frame {
    padding-left: 24px;
    padding-right: 24px;
  }

  .help-frame img {
    height: auto;
  }

  .card-row {
    justify-content: center;
  }

  nav {
    height: auto;
  }

  nav,
  ul.menu {
    flex-wrap: wrap;
  }
  .card-row {
    justify-content: center;
  }

  #testimonials,
  #help,
  #dogs,
  #contacts {
    width: 100%;
    padding: 20px;
  }
  #testimonial,
  #help {
    padding: 20px;
  }
   #help > div {
    flex-direction: column;
    gap: 20px;
  }

  #parents .col-6:nth-child(2) {
    order: 1;
  }

  #parents .col-6:nth-child(1) {
    order: 2;
  }

  .grid {
    grid-template-columns: auto auto;
  }

  .contact-frame .col-5 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }

  header {
    align-items: center;
    text-align: center;
    height: 400px;
    gap: 10px;
  }

  nav {
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  #about {
    flex-direction: column;
  }

  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8 {
    width: 100%;
    padding: 0;
  }

  .cards {
    justify-content: center;
  }

  .card-row {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: auto;
  }

  .help-frame {
    display: flex;
    align-items: center;
  }

  .help-frame img {
    display: block;
    width: 540px;
    height: 640px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }

  .contact-frame {
    flex-direction: column;
  }

  .contact-frame .col-5 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .contact-frame form,
  contact-logo-text {
    align-items: center;
  }

  .contact-frame .contact-logo-text {
    align-items: center;
    text-align: center;
  }

  textarea {
    width: 100%;
  }

  footer .footer-frame {
    flex-direction: column;
    row-gap: 20px;
  }

  footer .footer-frame .col-3 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .social-icons {
    height: auto;
  }

  ul.menu {
    visibility: hidden;
    position: absolute;
    color: var(--black);
    top: 0;
    left: 9999px;
    width: 300px;
    margin: 0;
    padding: 80px 0;
    background-color: var(--white);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    display: none;
  }

  ul.menu li .button {
    border: none;
    padding: 0;
  }
  .menu_btn {
    position: absolute;
    top: 36px;
    right: 24px;
    width: 32px;
    height: 32px;
    z-index: 2;
    /* background-color: var(--white); */
  }

  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--black);
  }

  .menu_btn > span::before {
    content: "";
    top: -10px;
  }

  .menu_btn > span::after {
    content: "";
    top: 10px;
  }

  #menu_toggle:checked ~ .menu {
    display: block;
    visibility: visible;
    left: calc(100% - 160px);
    padding: 64px 32px 16px;
  }

  #menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
  }

  #menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    transition: all 0.25s;
  }

  .menu {
    transition: all 0.25s;
  }
}

@media screen and (max-width: 436px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
}
